## Retrieval uncertainties analysis

Analyze the data from the following work on the aerosol properties for APS sensor:

Knobelspiesse, K. D., B. Cairns, M. I. Mishchenko, J. Chowdhary, K. Tsigaridis,
B. Van Diedenhoven, W. Martin, M. Ottaviani, and M. D. Alexandrov. 2012.
"Analysis of fine-mode aerosol retrieval capabilities by different passive
remote sensing instrument designs." Opt. Express, 20 (19): 21,457-21,484
[10.1364/OE.20.021457]

In [1]:
import numpy as np
%matplotlib inline
import pandas as pd

## pull the data

In [114]:
df1=pd.read_csv("./pd_tabulated_Knobelspiesse2012_values.txt",delimiter=r"\s+")
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60 entries, 0 to 59
Data columns (total 15 columns):
Type            60 non-null object
data            60 non-null object
AOT_index       60 non-null int64
AOT_f           60 non-null float64
Rnidx_f         60 non-null float64
Inidx_f         60 non-null float64
Reff_f          60 non-null float64
Veff_f          60 non-null float64
AOT_c           60 non-null float64
Rnidx_c         60 non-null float64
Inidx_c         60 non-null float64
Reff_c          60 non-null float64
Veff_c          60 non-null float64
AOT_t(555nm)    60 non-null float64
SSA(555nm)      60 non-null float64
dtypes: float64(12), int64(1), object(2)
memory usage: 7.1+ KB

In [115]:
df1.head()

,Type,data,AOT_index,AOT_f,Rnidx_f,Inidx_f,Reff_f,Veff_f,AOT_c,Rnidx_c,Inidx_c,Reff_c,Veff_c,AOT_t(555nm),SSA(555nm)
0,Amazonian,parameter,1,0.0351,1.47,0.001,0.176,0.174,0.0039,1.47,0.001,6.905,0.867,0.039,0.984889
1,Amazonian,parameter,2,0.0756,1.47,0.001,0.176,0.174,0.0084,1.47,0.001,6.905,0.867,0.084,0.984889
2,Amazonian,parameter,3,0.1107,1.47,0.001,0.176,0.174,0.0123,1.47,0.001,6.905,0.867,0.123,0.984889
3,Amazonian,parameter,4,0.1629,1.47,0.001,0.176,0.174,0.0181,1.47,0.001,6.905,0.867,0.181,0.984889
4,Amazonian,parameter,5,0.3114,1.47,0.001,0.176,0.174,0.0346,1.47,0.001,6.905,0.867,0.346,0.984889

In [116]:
df1["Type"].value_counts()

Greenbelt    10
Maldives     10
Paris        10
Mexico       10
Amazonian    10
African      10
Name: Type, dtype: int64

In [117]:
df1["data"].value_counts()

parameter      30
uncertainty    30
Name: data, dtype: int64

#aerosol types
Amazonian Forest    o1AF_APS_H20_full.sav
African Savanna     o1AS_APS_H20_full.sav
Paris               o1CP_APS_H20_full.sav
Greenbelt, MD       o1GS_APS_H20_full.sav
Mexico City         o1MC_APS_H20_full.sav
Maldives            o1MI_APS_H20_full.sav
#shortname
#aerosolv=["Amazonian", "African", "Paris", "Greenbelt", "Mexico", "Maldives"]

## The averaged uncertianties for each variables at AOT(555nm) of 0.039

In [132]:
df1.loc[(df1["AOT_index"]==1) & ((df1["data"]=="parameter"))]["AOT_t(555nm)"]

0     0.039
10    0.039
20    0.039
30    0.039
40    0.039
50    0.039
Name: AOT_t(555nm), dtype: float64

In [133]:
#short name for aerosol types
df2=df1.loc[df1["AOT_index"]==1 & (df1["data"]=="uncertainty")]
df2

,Type,data,AOT_index,AOT_f,Rnidx_f,Inidx_f,Reff_f,Veff_f,AOT_c,Rnidx_c,Inidx_c,Reff_c,Veff_c,AOT_t(555nm),SSA(555nm)
5,Amazonian,uncertainty,1,0.004132,0.015486,0.003363,0.005511,0.017743,0.001367,0.021972,0.001443,1.236500,0.184589,0.004208,0.030137
15,African,uncertainty,1,0.004422,0.019229,0.002271,0.006132,0.016371,0.001747,0.055712,0.007723,1.230298,0.184773,0.004510,0.019271
25,Paris,uncertainty,1,0.004941,0.013990,0.003928,0.005509,0.025944,0.001770,0.020740,0.004835,1.253546,0.187282,0.005166,0.021734
35,Greenbelt,uncertainty,1,0.003502,0.013909,0.002318,0.004085,0.018718,0.001474,0.013555,0.001466,0.633946,0.186022,0.003775,0.020359
45,Mexico,uncertainty,1,0.004682,0.017620,0.004168,0.005893,0.021440,0.001559,0.033092,0.008753,1.129151,0.181704,0.004808,0.021426
55,Maldives,uncertainty,1,0.005553,0.011221,0.003898,0.007627,0.032880,0.001891,0.023466,0.006759,1.239916,0.187881,0.005864,0.019587

In [134]:
df2.mean()

AOT_index       1.000000
AOT_f           0.004539
Rnidx_f         0.015242
Inidx_f         0.003324
Reff_f          0.005793
Veff_f          0.022183
AOT_c           0.001635
Rnidx_c         0.028089
Inidx_c         0.005163
Reff_c          1.120560
Veff_c          0.185375
AOT_t(555nm)    0.004722
SSA(555nm)      0.022086
dtype: float64